* {    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    /*background-color: #630A11;*/
    background-color: #545b44;
    /*background-color: #644c9b;*/
    /*background-color: #899257;*/
    /*background-color: #62412a;*/
    /*background-color: #885b3a;*/
	padding: 2%;
    color: #fff;
	width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: space-between;
    /*border: 3px solid rgb(173, 9, 126);*/
}

section div{
		display: flex;
		align-items: center;
		justify-content: space-between;
}


.div_enun{
    /*border: 3px solid rgb(9, 105, 173);*/
	font-size: 4vh;
	width: auto;
	height: auto;
	text-align: center;
    padding: 1%;
    margin: 2%;
    margin-bottom: 1%;
}

.div_nota{
	/*border: 3px solid rgb(9, 105, 173);*/
	font-size: 2vh;
	color: yellow;
	width: auto;
	height: auto;
	text-align: center;
    padding: 5px;
    margin: 5px;
}


.div_btn{
    display: flex;
	background-color: #630a1100;
    color: #fff;
	float: left;
    width: 80%;
    height: 50%;
    padding: 5px;
    /*display: contents;*/
    justify-content: space-around;
    align-items: center;
    /*border: 3px solid rgb(173, 151, 9);*/
}

.btn_section {
    color: #fff;
	height: 10vh;
	width: 20vh;
    /*margin-left: 10px;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3vh;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
}

.btn_section:disabled{
    pointer-events: none;
}

.btn_section:hover{
    color: #fff;
    background-color: #630A11;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn_section:active{
    box-shadow: none;
    transform: translateY(0);
}


/*Limpia los flotantes despues de las columnas*/
section::after{
    content: "";
    display: table;
    clear: both;
}

/*Implementacion de diseño responsivo: hace que las dos columnas se apilen uno encima
del otro en pantallas pequeñas*/
@media (max-width:  1080){
    nav, article {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 40%) {
    .menu {
        flex-direction: column;
    }

    .menu-dropdown {
        display: flex;
        flex-direction: column;
    }
}