* {    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}


body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #545b44;
}

main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.5rem;
    background-color: #545b4400;
    /*border: 3px solid rgb(173, 9, 126);*/
}
/*CSS PARA EL CONTENIDO*/

/*Layout*/
.contenido-principal{
    display: grid;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    justify-content: center;
}

.espacio-pregunta{
    position: relative;
    width: 100vh;
    height: 60vh;
    background-image: url("../../src/img/mati13/dialogos.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}

.espacio-respuesta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.opcion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.btn-avance{
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.bloqueRes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*ESTILO ELEMENTOS*/

.espacio{
    position: absolute;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 6.1em;
    height: 1em;
}

.estilo-pregunta{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    width: 20vh;
    text-align: center;
    top: 18%;
    left: 40.5%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1em;
}

.opcion p{
    color: #fff;
    text-align: center;
    cursor: all-scroll;
}

.result{
    width:  8vh;
    height: 8vh;
}

/*COMIENZO DRAG&DROP*/
.hide{
    cursor: all-scroll;

}

.drag-over{
    border: dashed 1px red;
}

.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    margin: 20px 0;
  }
/*FIN DRAG&DROP*/

/*FIN CSS PARA EL CONTENIDO*/

.siguientes-paginas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid rgb(173, 9, 126);*/
    padding: 1rem;
    margin-top: 1rem;
    margin: 1rem 3rem;
    color: #fff;
}

.preg1{
    color: rgb(229, 54, 188);
}

.preg2{
    color: rgb(33, 196, 201);
    
}

.icon_tam{
    height: 10vh;
    width: auto;
    cursor: pointer;
}

.indicacion{
    display: flex;
    justify-content: center;
    /*border: 1px solid rgb(173, 9, 126);*/
    padding: 1rem;
    margin: 1rem 3rem;
    color: #fff;
}


/*Limpia los flotantes despues de las columnas*/
section::after{
    content: "";
    display: table;
    clear: both;
}

/*Implementacion de diseño responsivo: hace que las dos columnas se apilen uno encima
del otro en pantallas pequeñas*/
@media (max-width:  1080){
    nav, article {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 40%) {
    .menu {
        flex-direction: column;
    }

    .menu-dropdown {
        display: flex;
        flex-direction: column;
    }
}