* {    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}


body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #545b44;
}

main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.5rem;
    background-color: #545b4400;
    /*border: 3px solid rgb(173, 9, 126);*/
}
/*CSS PARA EL CONTENIDO*/

/*Layout*/
.contenido-principal{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bocina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacio-pregunta{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.espacio-respuesta{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.espacio-opciones{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.espacio-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.nivel-uno, .nivel-dos{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nivel-uno{ width: 50%; }
.nivel-dos{ width: 70%; }

.casilla{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px wheat;
}

.opcion{
    color: wheat;
    font-size: 2.5vh;

}

.svg-revision{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  auto;
    height: 14vh;
}

.svg-revision svg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.espacio-siguiente{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Elementos*/

.svg-bocina{
    height: 20vh;
    width: auto;
    cursor: pointer;
}

.estilo-pregunta{
    color: #fff;
    font-weight: bolder;
    font-size: 10vh;
}


.pnivel{
    font-weight: normal;
    color: #fff;
    padding-bottom: 2%;
}

.svg-res{
    width:  100%;
    height: 100%;
}

/*COMIENZO DRAG&DROP*/
.hide{
    cursor: all-scroll;

}

.drag-over{
    border: dashed 1px red;
}

.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    margin: 20px 0;
  }
/*FIN DRAG&DROP*/


/*FIN CSS PARA EL CONTENIDO*/

.siguientes-paginas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.titulo{
    display: flex;
    justify-content: center;
    /*border: 1px solid rgb(173, 9, 126);*/
    padding: 1rem;
    margin-top: 1rem;
    margin: 1rem 3rem;
    color: #fff;
}

.indicacion{
    display: flex;
    justify-content: center;
    /*border: 1px solid rgb(173, 9, 126);*/
    padding: 1rem;
    margin: 1rem 3rem;
    color: #fff;
}


/*Limpia los flotantes despues de las columnas*/
section::after{
    content: "";
    display: table;
    clear: both;
}

/*Implementacion de diseño responsivo: hace que las dos columnas se apilen uno encima
del otro en pantallas pequeñas*/
@media (max-width:  1080){
    nav, article {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 40%) {
    .menu {
        flex-direction: column;
    }

    .menu-dropdown {
        display: flex;
        flex-direction: column;
    }
}